<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings> 
    <add key="DataBasePath" value=""/>
    
    <add key="UserProfile" value=""/>
    <add key="BotProfile" value=""/>
    <add key="ConversationProfile" value=""/>
    <add key="FirstAnswerProfile" value=""/>
    <add key="SecondAnswerProfile" value=""/>
    <add key="ThirdAnswerProfile" value=""/>
    <add key="TagProfile" value=""/>
    <add key="ConversationType" value=""/>
  </appSettings>
</configuration>